.container.certification__container{
   width: 40%; 
   
}
.certificate__img{
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 0rem;
    overflow: hidden;
    

}

.swiper-pagination-clickable .swiper-pagination-bullet{
  background: var(--color-primary);
  transform: translateY(-3rem);

}

.certification{
    
    text-align: center;
    padding: 0rem;
    user-select: none;
    
    
}

.certificate__review{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    padding: .5rem;
    font-weight: 300;
    display: block;
    width: 100%;
    margin: 0.8rem auto 0;
    
}

.certification__include{
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    border-radius: 0;
    padding: 2rem 0 2rem 0;
    transition: var(--transition);
    transform: translateY(-5px);
    
}

.certificate__img:hover .certification__include{
    transform: translateY(0px);
    opacity: 1;
}

@media screen and (max-width: 1024px) {
    
    .container.certification__container{
        width: 60%;
    }
    
    }

@media screen and (max-width: 600px) {
    
  .container.certification__container{
      width: var(--container-width-sm);
  }

  .client__review{
      width: var(--container-width-sm);
  }

    }   