.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover{
  border-color: var(--color-primary-variant);
  background: transparent;
  
}

.portfolio__item-image{
   border-radius: 1.5rem;
   overflow: hidden; 
   box-shadow: .5rem 1.5rem 1.2rem rgba(0, 0, 0, 0.3);
}

.portfolio__item h3{
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}





@media screen and (max-width: 1200px) {

    .portfolio__item-cta{
        display: grid;
    }
    }

@media screen and (max-width: 1024px) {

    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
    }

@media screen and (max-width: 1024px) {

    .portfolio__item-cta{
        display: flex;
    }
    }
@media screen and (max-width: 720px) {

    .portfolio__item-cta{
        display: grid;
    }

    }
@media screen and (max-width: 600px) {
    .portfolio__item-cta{
        display: flex;
    }
    
    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    

    }   




    
input#inputHiddenContent,#inputShownContent {
    display: none;
    transform: var(--transition);
  }
  
  span#spanHiddenContent {
    display: none;
    transform: var(--transition);
  }
  
  input#inputShownContent:checked ~ span#spanHiddenContent {
    display: block;
    transform: var(--transition);
  }
  
  input#inputHiddenContent:checked ~ span#spanHiddenContent {
    display: none;
    transform: var(--transition);
  }
  
  input#inputShownContent:checked ~ #myReadMore{
      display: none;
      transform: var(--transition);
  }


  



  input#inputHiddenContent1,#inputShownContent1 {
    display: none;
    transform: var(--transition);
  }
  
  span#spanHiddenContent1 {
    display: none;
    transform: var(--transition);
  }
  
  input#inputShownContent1:checked ~ span#spanHiddenContent1 {
    display: block;
    transform: var(--transition);
  }
  
  input#inputHiddenContent1:checked ~ span#spanHiddenContent1 {
    display: none;
    transform: var(--transition);
  }
  
  input#inputShownContent1:checked ~ #myReadMore1{
      display: none;
      transform: var(--transition);
  }


  
    
.btnshow{
    width: max-content;
    color: var(--color-primary);
    display: flex;
    margin: 1rem 0 1rem 0;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    border: 1px solid var(--color-primary);
    transform: var(--transition);
    left: 50%;
    transform: translate(-50%,0);
    position: relative;
    z-index: 1 
}

.btnshow:hover{
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}
