header{
    
    padding-top: 1rem;
    
    
}
.header__container {
    text-align: center;
    height: 100%;
    position: relative;

}
.header__name li{  
    display: inline-block;
    margin-right: .3rem;
    writing-mode:horizontal-tb;
    transition: var(--transition);
}

.header__name li:hover{
    transform: scale(140%);
}


.cta{
    margin: auto 0;
   display: flex;
   gap: 0rem;
   justify-content: center;
}

.header__socails{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    position: absolute;
    left: 0;
    bottom: 12rem;
    transition: var(--transition);

}
.header__socails a:hover{
    transform: scale(140%);
}

.header__socails::after{
    content: '';
    width: .8rem;
    height: 1px;
    background: var(--color-primary);
}
.header__socails::before{
    content: '';
    width: 1.5rem;
    height: 3px;
    background: var(--color-primary);
}


.me {
    background: linear-gradient( var(--color-primary), transparent);
    width: 22rem;
    height: 25rem;
    position: relative;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius:  22rem 12rem 22rem 12rem;
    overflow: hidden;
    padding: 1.5rem 0rem 0rem 0rem;
    transition: var(--transition);
    
}
.me:hover{
    transform: scale(103%);
    
}

.scroll__down{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: -.5rem;
    bottom: 8rem;
    text-orientation: upright;
   font-weight: 300;
   font-size: 0.9rem;
    transition: var(--transition);
}
.scroll__down li{
    line-height: 140%;
    transition: var(--transition);
}
/*
.scroll__down{
   position: absolute;
   right: -.5rem;
   bottom: 8rem;
   writing-mode: vertical-rl;
    text-orientation: upright;
   font-weight: 300;
   font-size: 0.9rem;
   transition: var(--transition);
}
*/
.scroll__down:hover{
    transform: scale(103%);
 }
 .scroll__down li:hover{
    transform: scale(140%);
 }




@media screen and (max-width: 1024px) {
    header{
        

    }
    }

@media screen and (max-width: 600px) {
    header{
        
    }
    .header__socails, .scroll__down{
        display: none;
    }
    .me{
        width: fit-content;
        left:auto;
    }
    }    