.extra__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.extra__container > div {
    background: var(--color-bg-varient);
    padding: 2.5rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.extra__container > div:hover {
    background: transparent;
    border-color: var(--color-primary-varient);
    cursor: default;
    
}

.extra__container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color:var(--color-primary)
    
}

.extra__content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}
.extra__content2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.extra__details {
    display: flex;
    gap: 1rem;
}

.extra__details-icon{
    margin-top: 6px;
    color: var(--color-primary);
}



@media screen and (max-width: 1024px) {
    .extra__container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .extra__container > div{
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
    .extra__content{
        padding: 1rem;
    }

    }

@media screen and (max-width: 600px) {
    
    .extra__container{
        gap: 1rem;
    }

    .extra__container > div{
        width: 100%;
        padding: 2rem 1rem;
    }

    }    