nav{
    background: rgba(0,0,0,0.3);
    width: max-content;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform:  translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
    
}
nav a:hover {
    background: rgba(0,0,0,0.3);
}

nav a.active {
    animation: bounce 1s linear;
    
}
@keyframes bounce {
    20%, 50%, 80%, to{
        transform: translateY(0) scale(100%);
    }
    40%{
        transform: translateY(-30px) scale(130%);
        background: var(--color-primary);
        color: var(--color-bg);
        box-shadow: 0 0.15rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
    }
    70%{
        transform: translateY(-15px) scale(115%);
    }
    90%{
        transform: translateY(-4px) scale(104%);
    }
    
}


    

