nav{
    background: rgba(0,0,0,0.3);
    width: max-content;
    padding: 0.5rem .7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform:  translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 0.3rem;
    backdrop-filter: blur(10px);
}

nav a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 10%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
    
}
.nametitle{
    position: absolute;
    background: rgba(0, 0, 0, 0.9);

    border-radius: 0.1rem;
    padding: 0.3rem;
    font-size: 0.9rem;
    transform: translateX(-.8rem) translateY(-3.3rem);
    opacity: 0%;
    transition: var(--transition);

}
nav a:hover .nametitle{
    transform: translateY(-3.8rem) translateX(-.8rem);
    
    animation: visibility 2s linear;

}
nav a:hover {
    background: rgba(0,0,0,0.3);
}

nav a.active {
    animation: bounce 1s linear;
    
}




/* Add this style to your nav.css */

.theme-toggle {
    background-color: var(--color-primary);
    color: var(--color-bg-variant);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0.25rem;
    transition: var(--transition);
  }
  
  .theme-toggle:hover {
    background-color: var(--color-primary-variant);
  }
  




@keyframes visibility {
    75%,from {
        opacity: 100%;
    }
    to{
        opacity: 0%;
    }
    
}
@keyframes bounce {
    20%, 50%, 80%, to{
        transform: translateY(0) scale(100%);
    }
    40%{
        transform: translateY(-30px) scale(130%);
        background: var(--color-primary);
        color: var(--color-bg);
        box-shadow: 0 0.15rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
    }
    70%{
        transform: translateY(-15px) scale(115%);
    }
    90%{
        transform: translateY(-4px) scale(104%);
    }
    
}


    

